<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Document Meta
        ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="construction html5 template">
    <link href="assets/images/favicon/favicon.ico" rel="icon">

    <!-- Fonts
        ============================================= -->
    <link href='/cssf/0d05e8074e3347fcba02055a30c23cde.css' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
        ============================================= -->
    <link href="cssf/external.css" rel="stylesheet">
    <link href="cssf/bootstrap.min.css" rel="stylesheet">
    <link href="cssf/style.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="jsf/html5shiv.js"></script>
    <script src="jsf/respond.min.js"></script>

    Document Title
        ============================================= -->
    <title>关于我们</title>
    <style>
        section{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>




<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    <header id="navbar-spy" class="header header-1" th:include="user/index/index::copyheader">
    </header>

    <!-- Page Title
============================================= -->
    <section id="page-title" class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h1>关于我们</h1>
                </div>
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #page-title end -->

    <!-- Google Maps
============================================= -->
    <section class="google-maps pb-0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="googleMap" style="width:100%;height:447px;background-color: #7d7d7d">
                        <iframe style="width: 100%;height: 100%;" src="https://map.baidu.com/poi/%E9%95%BF%E6%B2%BB%E5%AD%A6%E9%99%A2/@12595116.07062913,4305321.252063851,15.1z?uid=b581f5dac46ac9fcf5c59c98&primaryUid=9736517712472138129&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl">

                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- .google-maps end -->

    <!-- Contact #1
============================================= -->
    <section class="contact">
        <div class="container">
            <div class="row">

                <!-- .col-md-8 end -->
                <div class="col-xs-12 col-sm-12 col-md-4" style="width: 100%">
                    <div class="contct-widget-content">
                        <p class="mb-0">儿童旅行社网站-毕业设计</p>
                        <div class="widget-contact-info mt-md">
                            <div class="col-xs-12 col-sm-12 col-md-6 pl-0 mb-30-xs mb-30-sm">
                                <h6>电话 :</h6>
                                <p><i class="fa fa-phone"></i>+ 2 01065370701</p>
                                <p class="mb-0"><i class="fa fa-fax"></i>+ 2 01065370701</p>
                            </div>
                            <!-- .col-md-6 end -->
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <h6>邮箱 :</h6>
                                <p class="mb-0"><i class="fa fa-envelope"></i>7oroof@7oroof.com</p>
                            </div>
                            <!-- .col-md-6 end -->
                            <div class="col-xs-12 col-sm-12 col-md-12 pl-0 mt-30 mb-30-xs mb-30-sm">
                                <h6>地址 :</h6>
                                <p class="mb-0"><i class="fa fa-map-marker"></i>山西省长治市潞州区保宁门东街73号</p>
                            </div>
                            <!-- .col-md-12 end -->
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>

    <!-- Footer #1
============================================= -->
    <footer id="footer" class="footer footer-1" th:include="/user/index/index::copyfooter">
    </footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->

<script src="../jsf/jquery-2.2.4.min.js"></script>
<script src="../jsf/plugins.js"></script>
<script src="../jsf/functions.js"></script>


<script type="text/javascript">

</script>
</body>
</html>
