<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../js/DateTimePicker.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->






    <!--请在下方写此页面业务相关的脚本-->

    <script type="text/javascript" src="../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="../lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="../lib/jquery.validation/1.14.0/messages_zh.js"></script>

    <!--ueditor js-->
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

    <script>
        window.UEDITOR_HOME_URL = "/";
    </script>
    <title>添加管理员 - 管理员管理 - H-ui.admin v3.1</title>
    <meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载"/>
    <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。"/>

    <script th:inline="javascript">

    </script>

</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>旅游产品名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="hidden" th:value="${order.id}" name="id" id="id"/>
                <input type="text" class="input-text" th:value="${order.goodsName}" placeholder="旅游产品名称" id="name" name="name" disabled="disabled"/>
            </div>
        </div>




        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出发时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" data-field="datetime" th:value="${order.goTime}" readonly="" placeholder="开始时间" id="begintime" name="begintime" disabled="disabled"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>下单时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" data-field="datetime" th:value="${order.time}" readonly="" placeholder="结束时间" id="endtime" name="endtime" disabled="disabled"/>
            </div>
        </div>

        <span th:each="contact,iterStat:${contacts}">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>
                    联系人
                    <span th:text="${(iterStat.index+1)}"></span>
                    姓名：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" th:value="${contact.name}" readonly="" placeholder="结束时间"  disabled="disabled"/>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>
                    联系人
                    <span th:text="${(iterStat.index+1)}"></span>
                    类型：
                </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" th:if="${contact.type} == 2" value="儿童" readonly=""  name="endtime" disabled="disabled"/>
                    <input type="text" class="input-text" th:if="${contact.type} != 2" value="成人" readonly=""  name="endtime" disabled="disabled"/>

                </div>
            </div>
            <span th:if="${status} == 4">

                <div class="row cl" >
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>评分</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text"  th:value="${comment.score}" readonly=""  disabled="disabled"/>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>评论内容：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="" cols="" disabled="disabled" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" th:text="${comment.content}"></textarea>
                    </div>
                </div>

            </span>



        <span id="se">

        </span>
        <span id="secon"></span>
        <div id="dtBox" class="dtpicker-overlay dtpicker-mobile"><div class="dtpicker-bg"><div class="dtpicker-cont"><div class="dtpicker-content"><div class="dtpicker-subcontent"></div></div></div></div></div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" th:if="${status} == 1">
                <input class="btn btn-primary radius" onclick="confirm(1)" type="button" value="&nbsp;&nbsp;确认订单&nbsp;&nbsp;"/>
                <input class="btn btn-error radius" onclick="confirm(2)" type="button" value="&nbsp;&nbsp;取消订单&nbsp;&nbsp;"/>
            </div>
             <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" th:if="${status} == 4 and ${isEnable} == 0">
                <input class="btn btn-primary radius" onclick="confirm(10)" type="button" value="&nbsp;&nbsp;评论展示&nbsp;&nbsp;"/>
            </div>
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" th:if="${status} == 4 and ${isEnable} == 1">
                <input class="btn btn-error radius" onclick="confirm(11)" type="button" value="&nbsp;&nbsp;取消评论展示&nbsp;&nbsp;"/>
            </div>
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" th:if="${status} == 2">
                <input class="btn btn-primary radius" onclick="confirm(3)" type="button" value="&nbsp;&nbsp;完成订单&nbsp;&nbsp;"/>
                <input class="btn btn-error radius" onclick="confirm(2)" type="button" value="&nbsp;&nbsp;取消订单&nbsp;&nbsp;"/>
            </div>
        </div>
    </form>
</article>




<script type="text/javascript">

    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


        $("#form-admin-add").validate({
            rules: {

                name:{
                    required: true
                },
                begintime:{
                    required: true
                },
                endtime:{
                    required: true
                },
                time:{
                    required: true
                }

            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {

                var l = $(".w");
                var list = [];
                var sum = 0;
                for (var i = 0; i < l.length; i++) {
                    console.log(l[i].value)
                    if(l[i].value != 0){
                        list.push(l[i].value);
                    }
                    sum+=list[i];
                }
                if(sum == 0 || list.length == 0){
                    layer.msg("必须填写导游", {icon:2, time: 1000});
                    return false;
                }
                console.log(list);

                if(banners.length<1){
                    layer.msg("必须上传轮播图", {icon:2, time: 1000});
                    return false;
                }

                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/adorderservice/update",
                    data:{
                        description:UE.getEditor('container').getContent(),
                        guide_list:list.join(","),
                        banners:banners.join(",")
                    },
                    success: function (data) {

                        if(data.errorCode == 200){
                            layer.msg('修改成功!', {icon: 1, time: 1000});
                            setTimeout(function () {

                                window.parent.location.reload();

                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            },500)

                        }else{

                            layer.errorMessage(data.msg, {icon:2, time: 1000});

                        }

                        //页面关闭，父页面刷新
                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        layer.msg('error!', {icon: 1, time: 1000});
                    }
                });

                return false;

                var index = parent.layer.getFrameIndex(window.name);
                console.log(index);

                //parent.$('.btn-refresh').click();
                parent.layer.close(index);




            }
        });
    });

    
    function confirm(i) {
        //确定订单
        var id = $("#id").val();

        var url= "/adorderservice/confirm";
        $.ajax({
            type: 'get',
            url: url,
            data:{
                id:id,
                type:i
            },
            dataType: 'json',
            success: function(data){
                if(data.resultStatus ){

                    layer.msg('修改成功!', {icon: 1, time: 1000});
                    setTimeout(function () {

                        window.parent.location.reload();

                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    },500)

                }else{
                    layer.errorMessage(data.msg, {icon:2, time: 1000});
                }
            },
            error:function(data) {
                layer.errorMessage(data.msg, {icon:2, time: 1000});
            },
        });

    }



    function addImg2() {

        layer.confirm('你确定要上传所选的文件吗？', function (index) {

            layer.closeAll('dialog');

            var formData = new FormData();
            formData.append("myfile", document.getElementById("file2").files[0]);
            $.ajax({
                url: "/common/upload",
                type: "POST",
                data: formData,
                async: false,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,

                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                dataType: 'JSON',
                processData: false,
                beforeSend: function () {
                    //异步请求时spinner出现
                    $("#piccon").css("display","block");

                    var target = $("#main").get(0);
                    // spinner.spin(target);
                },
                success: function (data) {
                    console.log(data)
                    if (data.resultStatus) {
                        layer.msg('上传成功!', {icon: 1, time: 1000});
                        dirUrl = data.resultData;

                        var piccon = $(".piccon");
                        var p = $("#p");

                        if(p.children().length<1){
                            p.show();
                        }

                        var html = '';
                        html +='<span style="width: 200px;height: 200px;">';
                        html +='<img src="'+dirUrl+'" class="pic" style="width: 200px;height: 200px;">';
                        html +='<i class="Hui-iconfont" style="position: relative;top:-64px;left: -39px;font-size: 45px;" onclick="delImg(this)">&#xe6e2;</i>';
                        html +='</span>';
                        p.append(html);
                        banners.push(dirUrl);
                    }else{
                        layer.msg('上传失败!', {icon: 2, time: 1000});
                    }
                },
                error: function () {
                    console.log("上传失败！");
                    layer.msg('上传失败!', {icon: 2, time: 1000});

                }
            });

        })
    }
    function  delImg(e) {
        layer.confirm('你确定要上传所选的文件吗？', function (index) {
            layer.closeAll('dialog');
            for (var i = 0; i < banners.length; i++) {
                if(banners[i] == $(this).parent().find("img")[0].src){
                    banners.remove(banners[i]);
                    break;
                }
            }

            $(e).parent().children(this).remove();
        })
    }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>